* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #eee;
    font-family: "Times New Roman" 'Times New Roman', Times, serif;
  
  }
  
  .card {   
    width: 600px;
    height: 800px;
    background: antiquewhite;
    margin: 16px auto;
    padding-top: 24px;
    padding-bottom: 24px;
    outline: black solid 1px;
  }
  
  .title {
    display: inline-block;
    background: antiquewhite;
    font-size: 36px;
    width: 200px;
    padding: 2px 8px;
    margin: 8px 200px;
    margin-bottom: 20px;
    text-align: center;
    outline: maroon double 4px;
  }
  
  .content {
    background: whitesmoke;
    display: flex;
    justify-content: space-between;
    width: 450px;
    margin: 10px 75px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px;
    outline: maroon dotted 1px;
  }
  



a:link    {color:#000;}  /* unvisited link  */
a:visited {color:#000;}  /* visited link    */
a:hover   {color:#000;}  /* mouse over link */
a:active  {color:#000;}  /* selected link   */ 